html {
  height: 100vh;
}

body {
  min-height: 100vh;
  width: auto;
  padding: 0;
  background-image: linear-gradient(white, green);
}

img {
  height: 80%;
  width: 15%;
  /* margin-top: 5vh; */
  /* margin-bottom: 5vh; */
}

.btn {
  font-family: 'Major Mono Display', monospace;
  margin: 1vh;
}

#button-group {
  margin: 10vh;
  margin-left: 30vh;
  margin-right: 30vh;
}

#dealer-cards {
  background-image: url("dealer-cards.png");
  background-size: contain;
  height: 35vh;
  width: 95%;
  margin: auto;
  opacity: 0.8;
  padding: 5vh;
  border: double;
  border-radius: 2%;
  overflow: hidden;
}

#user-cards {
  background-image: url("user-cards.png");
  background-size: contain;
  height: 35vh;
  width: 95%;
  margin: auto;
  opacity: 0.8;
  padding: 5vh;
  border: double;
  border-radius: 2%;
  overflow: hidden;
}

#info-board {
  font-family: 'Fredoka', sans-serif;
}
